*{
	margin:0;
	padding:0;
}
.Structure {
  background: #c1d4e3 none repeat scroll 0 0;
  margin: 0 auto;
  width: 1045px;
}
.header  img {
  width: 115px;
  height: 125px;
  margin-left: 10px;
  margin-top: 10px;
}
.header > p {
  font-size: 30px;
  margin-left: 10px;
}
.banner  img {
  position: relative;
  width: 100%;
}
.text {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 50px;
}
.menu {
  background: #3bb9c3 none repeat scroll 0 0;
  margin-top:-5px;
}
.menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  display: inline-block;
}
.menu a {
  border-right: 2px solid white;
  color: white;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 46px;
  text-decoration: none;
}
#noborder {
	border-right:none;
}
.contentarea {
  overflow: hidden;
}
.contentarea img {
	max-width:100%;
}
.maincontent {
  float: left;
  width: 800px;
}
.sidebar {
  float: right;
  width: 224px;
  margin-top: 50px;
}
.sidebar h3 {
  border: 2px solid green;
  text-align:center;
}
.sidebar ul {
  margin-left: 37px;
  margin-top: 12px;
}
.solution {
  background: white none repeat scroll 0 0;
  padding: 20px;
  margin-right: 20px;
}
.product {
  background: #f8eaa3 none repeat scroll 0 0;
  margin-right: 15px;
  margin-top: 50px;
  padding: 25px;
}
.partner img {
  height: 55px;
  margin-top: 30px;
  width: 65px;
}
.hobby > ul {
  list-style: outside none none;
  margin-left: 115px;
  margin-top: 55px;
}
.hobby li {
  background: gold none repeat scroll 0 0;
  margin-bottom: 18px;
  width: 215px;
}
.hobby a {
  text-decoration: none;
  padding-left: 64px;
}
.fperson {
  float: right;
  margin-top: -196px;
  width: 350px;
}
.fperson > p {
  margin-top: 14px;
  text-align: center;
}
.footer {
  background: gold;
  margin-top: 150px;
  text-align: center;
  padding:6px;
}